@{
    ViewData["Title"] = "上传失败";
}

<div class="text-center">
    <h1 class="display-4">上传失败</h1>
    <div class="form-group">
    <div class="col-md-10">
        <p>发生了一个错误...</p>
        <p>
            <a asp-area="" asp-controller="Home" asp-action="Index">上传其他文件?</a>
        </p>
    </div>
    </div>
</div>
